<% layout("/layouts/boilerplate") %>

<body>
   
    <h2 class="offset-3 mt-3">Edit Details</h2>
    <form action="/listings/edit/<%= newlisting.id %>?_method=PUT" method="post" class="needs-validation"  novalidate >
        <div class="row offset-3">
            <div class="col-md-8">
        <input type="text" name="listings[title]" id="" value="<%= newlisting.title %>" class="form-control" required><br>
        <textarea name="listings[description]" id="" cols="10" rows="0" class="form-control" required><%= newlisting.description %></textarea><br>
        <input type="text" name="listings[filename]" id="" value="<%= newlisting.image.filename %>" class="form-control" required><br>
        <input type="text" name="listings[url]" id="" value="<%= newlisting.image.url %>" class="form-control" required> <br>
        <input type="number" name="listings[price]" id="" value="<%= newlisting.price %>" class="form-control" required><br>
        <input type="text" name="listings[location]" id="" value="<%= newlisting.location %>" class="form-control" required><br>
        <input type="text" name="listings[country]" id="" value="<%= newlisting.country %>" class="form-control" required><br>
        <button class="btn btn-update mb-3">Submit</button>
            </div>
        </div>
    </form>
</body>
